<div *ngIf="!mobile">
  <div style="height: 90%">
    <img src="../../../assets/images/webinar.png" alt="">
  </div>
  <div class="form-inline col-md-12">
    <input type="text" class="col-md-4 form-control" [(ngModel)]="user.nome" placeholder="Nome completo" name="nome">
    <input type="text" class="col-md-4 form-control" [(ngModel)]="user.email" placeholder="E-mail" name="email">
    <button class="btn btn-outline-info" (click)="sendData(user)">Confirmar cadastro</button>
  </div>
</div>
<div *ngIf="mobile" class="mobile">
  <div style="height: 90%">
    <img src="../../../assets/images/Camada 1.jpg" alt="">
  </div>
  <div class="col-md">
    <input type="text" class="form-control" [(ngModel)]="user.nome" placeholder="Nome completo" name="nome">
    <input type="text" class="form-control" [(ngModel)]="user.email" placeholder="E-mail" name="email">
    <button class="btn btn-outline-info" (click)="sendData(user)">Confirmar cadastro</button>
  </div>
</div>
