:host {
    .marg {
        margin-top: 58px;
    }

    .card.bg-info {
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-size: 30px;
        padding: 10px;

        i {
            color: white;
        }
    }
}