.content1 {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: -22px;
  margin-bottom: 30px;
  overflow-x: hidden;
}

.header {
    display: table-row;
}

.footer {
  text-align: center;
  background-color: white;
  color: navy;
  padding: 1% 2%;
  width: 100%;
}
