<div class="cover row">
  <div class="cover-container">
    <img class="img-responsive img-desktop" src="../../../assets/images/cover.jpg" alt="Toque seu negócio">
    <img class="img-responsive img-mobile" src="../../../assets/images/cover-mob.jpg" alt="Toque seu negócio">
    <div class="webinar-container">
      <div class="text-chamada">
        <span class="title">WEBINAR</span>
        <br>
        <span class="text-info">09 de outubro às 19h00</span>
      </div>
      <div class="photos">
        <img src="../../../assets/images/gabriel_bahdur.jpg" class="first-photo">
        <img  src="../../../assets/images/paulo_ruza.jpg" class="second-photo">
      </div>
      <div class="text-descricao">
        <span>As principais dificuldades <br>de empreender no Brasil</span>
      </div>
      <div class="text-full">
        <p>Neste Webinar, especialistas vão revelar os principais desafios do mundo do empreendedorismo e como fazer para contorná-los</p>
      </div>
      <div class="btn-modal">
        <button class="btn btn-dark" (click)="openDialog()">GARANTA SUA VAGA!</button>
      </div>
    </div>
  </div>
</div>
<app-posts></app-posts>
